<!DOCTYPE html>
<html>
<head>
  <title><%= teamName %> Stats</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1><%= teamName %> Stats</h1>
  <div id="teamStats">
    <strong>Games Played:</strong> <%= games %> <br><hr>
    <strong>Points Scored:</strong> <%= points %> <br><hr>
    <strong>Turnovers:</strong> <%= turnovers %> <br><hr>
    <strong>Blocks:</strong> <%= blocks %> <br><hr>
  </div>
  <br><br>
  <a href="/">HOME</a>
</body>
</html>